* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	margin: auto;
}
button {
	color: white;
	background-color: purple;
	padding: 5px 10px;
	border: none;
	border-radius: 6px;
	font-size: 22px;
}
span {
	font-size: 30px;
	padding: 20px;
}
.next {
	background-color: green;
	color: black;
}
